header, footer{
    height: 125px;
    width: inherit;
    background-color: black;
}
header div{
  height: 75px;
  width: 10%;
  margin: 0 auto;
  border-top: solid black 8px;
}
header div img{
  height: inherit;
  width: auto;
}

#first{
    width: inherit;
}
#first div{
    width: inherit;
    height: auto;
    background-image: url("https://nodejs.org/static/images/interactive/background.jpg");
}
#first div div{
    width: 80%;
    height: auto;
    margin: 0 auto;

}

#first div div img{
    width: inherit;
}
#second{
    height: 600px;
    width: inherit;
}
p{
    font-size: 24px;
    margin: 10px;
    font-family: arial;
}
