header, footer{
    height: 150px;
    width: inherit;
    background-color: black;
}
header div{
  height: 75px;
  width: 10%;
  margin: 0 auto;
  border-top: solid black 8px;
}
header div img{
  height: inherit;
  width: auto;
}

#first{
    width: inherit;
    border: solid white 15px;
}
#first div{
    width: 100%;
    height: auto;
}
#first div img{
    width: inherit;
}
#second{
    height: 600px;
    width: inherit;
}
p{
    font-size: 24px;
    margin: 10px;
    font-family: arial;
}
